.ordermodalbackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(235, 213, 255);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.ordermodalcontainer {
    width: 500px;
    height: 400px;
    border-radius: 12px;
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
}

.ordercontainertitle {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.ordercontainerbody {
    margin-top: 40px;
    font-size: 15px;
    text-align: center;
}
.ordercontent{
    background-color: rgb(255, 255, 255);
}